backend/.venv/

__pycache__/
*.pyc

frontend/node_modules/
frontend/dist/

!.env.example

backend/storage/datasets/*
backend/storage/chats/
backend/storage/uploads/*
backend/storage/temp/*
backend/uploads/
backend/data/

.vscode/
.idea/
